<p>Signed In. (Config Page)</p>

<div *ngIf="trelloUser; else noTrello">
  <span>trelloUser</span><button>Unlink Trello</button>
</div>
<ng-template #noTrello>
  <button (click)="linkTrelloClicked()">Link Trello</button>
</ng-template>

<ul *ngIf="overlays && overlays.length > 0; else noOverlays">
  <li *ngFor="let overlay of overlays" class="overlay">
    {{overlay.title}} ({{overlay.lists.join(",")}})
    <button (click)="deleteOverlayClicked(overlay.id)">delete</button>
  </li>
</ul>

<ng-template #noOverlays>
  <p>NO OVERLAYS.</p>
</ng-template>

<div>
  <label for="overlayLists">Lists: </label>
  <input type="text" id="overlayLists" [(ngModel)]="newOverlayLists">
  <button (click)="addOverlayClicked()">Create Overlay</button>
</div>

<button (click)="signOutClicked()">Sign Out</button>
