* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  padding: 0;
  margin: 0;
}

#overlay {
  position: relative;
}

#background {
  position: absolute;
  top: 0;
  bottom: 0;

  z-index: -1;
  width: 32px;
}

.leftPos {
  left: 0;
}

.centerPos {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.rightPos {
  right: 0;
}

#background {
  background: #ccc;

  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

#title {
  background-color: #d8d8d8;

  -webkit-border-radius: 14px 14px 4px 4px;
  -moz-border-radius: 14px 14px 4px 4px;
  border-radius: 14px 14px 4px 4px;
}

#content {
  padding: 8px;
}

#title {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 12px 24px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 6px 0;
}

.list:last-child {
  margin-bottom: 0;
}

.list > li {
  margin: 0 0 8px 0;
}

.list > li:last-child {
  margin-bottom: 0;
}


.card {
  display: inline-block;
  width: auto;
  background: #fff;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  padding: 6px 18px;
}
.card.in-progress {
  background: #fff5d9;
}
